<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test1.Properties.Settings.studentConnectionString"
            connectionString="Data Source=.;Initial Catalog=student;Integrated Security=True" />
    </connectionStrings>
</configuration>